<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <div class="row">
          <!-- Coluna para a LOGO -->
          <div class="col-md-6 d-flex align-items-center justify-content-start">
            <a class="logo" routerLink="/">
              <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="página de login" />
            </a>
          </div>
          <!-- Coluna para o Formulário de Login -->
          <div class="col-md-6">
            <div class="login-main">
              <form class="theme-form" [formGroup]="loginForm">
                <h4>Entrar na conta</h4>
                <p>Digite seu email e senha para acessar</p>

                <!-- Mensagem de erro de login -->
                <div *ngIf="errorMessage" class="alert alert-danger">
                  {{ errorMessage }}
                </div>

                <div class="form-group">
                  <label class="col-form-label">Endereço de Email</label>
                  <input class="form-control" type="email" required="" placeholder="app@seuemail.com" formControlName="email" />
                  <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required" class="text text-danger mt-1">O email é obrigatório</div>
                  <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email" class="text text-danger mt-1">Email inválido</div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Senha</label>
                  <input class="form-control" type="password" formControlName="password" required="" placeholder="*********" />
                  
                  <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required" class="text text-danger mt-1">
                    A senha é obrigatória
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <input id="checkbox1" type="checkbox" />
                    <label class="text-muted" for="checkbox1">Lembrar senha</label>
                  </div>
                  <a [routerLink]="'/authentication/forgot-password'" class="link">Esqueceu a senha?</a>
                  <div class="text-end mt-3">
                    <button class="btn btn-primary d-block w-100" 
                            [disabled]="!loginForm.valid || loading" 
                            (click)="login()" 
                            type="button">
                      <ng-container *ngIf="!loading; else loadingTemplate">
                        <span>Entrar</span>
                      </ng-container>
                    </button>
                  </div>
                  <ng-template #loadingTemplate>
                    <span>Carregando...</span>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
