<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar> <!-- Reutiliza o componente sidebar existente -->
  
      <!-- Main content -->
      <div class="col-10">
        <div class="main-content">
          <img src="assets/images/logo/logo.png" alt="PNE Logo" class="logo-img mb-4" />
  
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>30%</h3>
                <p>Progresso de todas as estratégias cadastradas na plataforma, o objetivo é atingir 100%.</p>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>26 d</h3>
                <p>Total de dias faltantes para atingir os objetivos cadastrados na plataforma.</p>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>10</h3>
                <p>Total de estratégias cadastradas na plataforma.</p>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>2</h3>
                <p>Total de estratégias descontinuadas.</p>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>10</h3>
                <p>Total de estratégias concluídas.</p>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div class="card">
                <h3>4</h3>
                <p>Total de estratégias não concluídas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  