<app-breadcrumb [items]="['Home']"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="dashboard">
        <div class="dashboard-item">
          <div class="card">
            <h2 class="value-progress">30%</h2>
            <p>Progresso de todas as estratégias cadastradas na plataforma, o objetivo é ser atingido é 100%.</p>
          </div>
      
          <div class="card">
            <h2 class="value-days">26 d</h2>
            <p>Total de dias faltantes para atingimento dos objetivos cadastrados na plataforma.</p>
          </div>
      
          <div class="card">
            <h2 class="value-total">10</h2>
            <p>Total de estratégias cadastradas na plataforma.</p>
          </div>
      
          <div class="card">
            <h2 class="value-discontinued">2</h2>
            <p>Total de estratégias descontinuadas.</p>
          </div>
      
          <div class="card">
            <h2 class="value-completed">10</h2>
            <p>Total de estratégias concluídas.</p>
          </div>
      
          <div class="card">
            <h2 class="value-not-completed">4</h2>
            <p>Total de estratégias não concluídas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
